In [3]:
import pandas as pd
pd.__version__

'2.3.0'

In [8]:
df = pd.read_csv("./../results/qc/trimming_summary.csv")
df.head()
df.describe()

,total_reads_before,total_reads_after,q30_rate_before,q30_rate_after,adapter_trimmed_reads,reads_passed_filter,reads_retained_percent
count,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000
mean,276260.539474,153219.355263,0.717267,0.822130,211.375000,153219.355263,51.927566
std,133786.622429,133632.628281,0.121652,0.067257,899.068369,133632.628281,30.948991
min,79822.000000,20424.000000,0.583533,0.751587,0.000000,20424.000000,13.190000
25%,187815.500000,51310.000000,0.606509,0.760368,16.000000,51310.000000,23.207500
50%,229878.000000,77388.000000,0.622569,0.769613,42.000000,77388.000000,30.930000
75%,340659.500000,238192.500000,0.851160,0.893217,116.000000,238192.500000,86.210000
max,909740.000000,694288.000000,0.901476,0.931613,10007.000000,694288.000000,92.260000